<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Comunícate con amigos y familia</title>
    <meta name="description" content="Comunicate con amigos y familia">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>
        Comunícate con amigos y familia
      </h1>
    </header>

    <main>
      <p>
        Envíale un mensaje a alguien.
      </p>
      <p>
        No podrás recibir respuestas, pero puedes enviar mensajes
      </p>
      <form>
        <label>Numero: </label>
        <br/>
        <input type="tel" class="phone" name="phone-number">
        <br/>
        <br/>
        <label>Mensaje:</label>
        <br/>
        <textarea style="width:200px;height:100px"
                  type="text" 
                  name="message" 
                  class="message" maxlength="140" placeholder="Type message here"></textarea>
        <br/>
        <button type="submit">Submit</button>
      </form>
      <section class="section-reply">
        <ul id="reply">
          
        </ul>
      </section>
      <h2>
        El servicio utiliza <a href="http://twilio.com/">Twilio</a>, que nos donó credito para enviar SMS
      </h2>
      <h2>
        Gracias <a href="http://twilio.com/">Twilio</a>!
      </h2>
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
